#information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1d1d1d;
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: left;
  width: 80%;
  border-radius: 5px;
}
#information .info-card {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding-bottom: 0.8rem;
  margin-bottom: 0.8rem;
  border-bottom: 1px solid #444;
  width: 100%;
}
#information .info-card h3 {
  color: #a6a6a6;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 426px) and (max-width: 1024px) {
  #information .info-card h3 {
    font-size: 1.5rem;
  }
}
#information .info-card p {
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
}
@media (min-width: 426px) and (max-width: 1024px) {
  #information .info-card p {
    font-size: 1.5rem;
  }
}
#information .info-card svg {
  background-color: #111;
  padding: 0.4rem;
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
}
@media (max-width: 425px) {
  #information .info-card svg {
    max-width: 100%;
  }
}
@media (min-width: 426px) and (max-width: 1024px) {
  #information .info-card svg {
    max-width: 100%;
    padding: 0.4rem;
    width: 3rem;
    height: 3rem;
    margin-bottom: 2rem;
  }
}
#information .info-card #phone-icon {
  color: #e93b81;
}
#information .info-card #email-icon {
  color: #6ab5b9;
}
#information .info-card #pin-icon {
  color: #c17ceb;
}